.background{
    background-color: grey;
    height: 100%;
}
.saskiaContainer{

    background-color: white;
    margin: 50px;
    margin-top: 10px;
    height: 670px;
}
#saskikoHeader{
    display: grid;
    grid-template-columns: 180px 50px;
}
#borratzekoBotoia{
    font-size: 40px;
    padding-top: 4px;
    color: red ;
    background-color: transparent;
    border: transparent;
}
.saskikoKajak{
    background-color: aqua;
}