.background{
    background-color: grey;
    min-height: 100%;
}
.saskiaContainer{

    background-color: white;
    margin: 50px;
    margin-top: 10px;
    min-height: 670px;
}
#saskikoHeader{
    display: grid;
    grid-template-columns: 180px 50px;
}
#borratzekoBotoia{
    font-size: 40px;
    padding-top: 4px;
    color: red ;
    background-color: transparent;
    border: transparent;
}
.containerZesta{
    display: grid;
    grid-template-columns: repeat(2,700px);
    gap: 4em;
}

#sasProGord{
    background-color: rgb(255, 255, 255);
    width: 700px;
    min-height: 350px;
    margin: 20px;
    border: rgb(138, 138, 138) 20px solid;

}
.prezioaEskubitanJartzeko{
    display: flex;
    justify-content:end;
}
.saskikoKajak{
    background-color: rgb(233, 233, 233);
    row-gap: 1em;
}

.prezioakSaskia{
    background-color: rgb(255, 255, 255);
    width: 400px;
    margin: 20px;
    border: rgb(138, 138, 138) 20px solid;
}
.gastosEnvio{
    background-color: rgb(0, 179, 255);
    color: rgb(0, 0, 0);
}
#BidalketakoGastuakDiv,
 #prezioTotalaDiv,
 #prezioTotalaDivDefinitiboa{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#BidalketakoGastuakZenbakia,
 #prezioTotalaZenbakia,
 #prezioTotalaZenbakiaDefini{
    justify-self: end;
}

.prezioaEskubitanJartzeko{
    color: rgb(36, 13, 245);
    text-decoration: double;
}
.kantitateaPro{
    color: red;
}
#erostekoBotoia{
    background-color: rgb(7, 246, 7);
    border-color:  rgb(7, 246, 7);
    border-radius: 8px;
    color: white;
    height: 30px;
}
#erostekoBotoia:hover{
    background-color:rgb(5, 242, 250);
    border-color:  rgb(5, 242, 250);
}
#erostekoBotoiaDiv{
    padding-left: 33%;
    padding-bottom: 15px;

}
.botoiaBorratzekoIndi{
    background-color: rgb(246, 7, 7);
    border-color:   rgb(246, 7, 7);
    border-radius: 8px;
    color: white;
    height: 30px;
    width: 100px;
}