.background{
    background-color: #555; /* Cambiado a gris oscuro */
    min-height: 100%;
}
.saskiaContainer{
    background-color: #555; /* Cambiado a blanco */
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    min-height: 670px;
}
#saskikoHeader{
    display: grid;
    grid-template-columns: 180px 50px;
}
#borratzekoBotoia{
    font-size: 40px;
    padding-top: 4px;
    color: red ;
    background-color: transparent;
    border: transparent;
}
.containerZesta{
    display: grid;
    grid-template-columns: repeat(2,700px);
    gap: 4em;
}

#sasProGord{
    background-color: #fff; /* Cambiado a blanco */
    width: 700px;
    min-height: 350px;
    margin: 20px;
    border: #8a8a8a 20px solid; /* Cambiado a gris */
}

#metodoDePago{
    background-color: #fff; /* Cambiado a blanco */
    width: 100%;
    height: 200px;
    margin: 20px;
    border: #8a8a8a 20px solid; /* Cambiado a gris */
}
.prezioaEskubitanJartzeko{
    display: flex;
    justify-content:end;
}
.saskikoKajak{
    background-color: #e9e9e9; /* Cambiado a gris claro */
    row-gap: 1em;
}

.prezioakSaskia{
    background-color: #fff; /* Cambiado a blanco */
    width: 500px;
    max-height: 400px;
    margin: 20px;
    border: #8a8a8a 20px solid; /* Cambiado a gris */
}
.gastosEnvio{
    background-color: #00b3ff; /* Cambiado a azul */
    color: #000; /* Cambiado a negro */
}
#BidalketakoGastuakDiv,
 #prezioTotalaDiv,
 #prezioTotalaDivDefinitiboa{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#BidalketakoGastuakZenbakia,
 #prezioTotalaZenbakia,
 #prezioTotalaZenbakiaDefini{
    justify-self: end;
}

.prezioaEskubitanJartzeko{
    color: #240df5; /* Cambiado a azul */
    text-decoration: double;
}
.kantitateaPro{
    color: red;
}
#erostekoBotoia{
    background-color: #07f607; /* Cambiado a verde */
    border-color:  #07f607; /* Cambiado a verde */
    border-radius: 8px;
    color: white;
    height: 30px;
}
#erostekoBotoia:hover{
    background-color: #05f2fa; /* Cambiado a azul claro */
    border-color:  #05f2fa; /* Cambiado a azul claro */
}
#erostekoBotoiaDiv{
    padding-left: 33%;
    padding-bottom: 15px;
}
.botoiaBorratzekoIndi{
    background-color: #f60707; /* Cambiado a rojo */
    border-color:   #f60707; /* Cambiado a rojo */
    border-radius: 8px;
    color: white;
    height: 30px;
    width: 100px;
}

#aukerak{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.aukerak{
    height: 100px;
    width: 100px;
    padding: 3px;
    background-color: #f5f5f5; /* Cambiado a gris claro */
    border-radius: 15px;
    justify-self: center;
    text-align: center;
}
.aukerak:hover{
    background-color: #c5c5c5; /* Cambiado a gris más oscuro */
}
#img1MetoPag{
    height: 70px;
}
#img2MetoPag{
    height: 50px;
    width: 100px;
}
#img2MetoPag{
    height: 67px;
}

#paypalPago,
#visaPago,
#bizumPago{
    background-color: #fff; /* Cambiado a blanco */
    width: 80%;
    height: fit-content;
    margin: 20px;
    border: #8a8a8a 20px solid; /* Cambiado a gris */
}

.containerPatzeko {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    margin-top: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.patzekoInputak{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.botonPagar_1,
.botonPagar_2,
.botonPagar_3{
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Cambiado a azul */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botonPagar:hover {
    background-color: #0056b3; /* Cambiado a azul más oscuro */
}
.h2{
    text-align: center;
}
