
body {
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.search-button,
.search-input{
    border-radius: 20px;
}
.search-button:hover{
    transform: scale(1.05);
}
header {
    text-align: center;
    padding: 0px 0;
    height: 100px;
}
div>header{
    background:linear-gradient(90deg,#181818, #616361, #181818, #616361, #181818);
}
#menu {
    display:flex;
    padding-left: 6em;
    padding-right: 6em;
    justify-content:space-between;
    background-color: #606060;
    justify-items: center;
    height: 38px;
}
.menuNavBoton {
    color: white;
    text-decoration: none;
    padding: 7px 25px;
    height: 30px;
}
.search-form{
    align-self: center;
}
.menuNavBoton:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 30px;
    color: black;
}
.invisibleDiv:hover{
    background-color: #606060;
    border-radius: 30px;
}
.offcanvas-title{
    font-size: xx-large;
}
.backGroundColorSideBar{
    background-color: #b4b4b4;
}
.navMenu{
    display: grid;
}
.offcanvas-body {
    flex-grow: 0;
}
.zestoaIkono i {
    font-size: 30px; 
    padding-top: 4px;
  }