
body {
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.search-button:hover{
    transform: scale(1.05);
}
header {
    text-align: center;
    padding: 0px 0;
    height: 100px;
}
div>header{
    background:linear-gradient(90deg,#181818, #616361, #181818, #616361, #181818);
}
#menua {
    display:flex;
    padding-left: 70px;
    padding-right: 6em;
    justify-content:space-between;
    background-color: #606060;
    justify-items: center;
    height: 37.5px;
}
.menuNavBoton {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 7px 25px;
    height: 27.5px;
}
.search-form{
    align-self: center;
}
.menuNavBoton:hover {
    color: #a4a4a4;
}
.invisibleDiv:hover{
    background-color: #606060;
    border-radius: 30px;
}
.offcanvas-title{
    font-size: xx-large;
}
.backGroundColorSideBar{
    background-color: #b4b4b4;
}
.navMenu{
    display: grid;
}

.zestoaIkono i {
    font-size: 27.5px; 
    padding-top: 4px;
}
.search-form{
    margin-left: 30%;
}
.language{
    margin-left: 15%;
    padding-top: 4px;
}
.btn-primary{
    justify-content: center;
   
}
.offcanvas-body{
    border:solid;
    background-color: #f5f5f5;
    margin: 5%;
}
.faboritotakoKajak {
    border: solid;
    border-radius: 10px;
    border-color: rgb(255, 246, 65);
    margin-bottom: 5px;
    background-color: rgb(255, 246, 65);
  }