.myContainer {
  min-height: 100vh;
  background-color: #333; /* Cambiado a negro para que coincida con la paleta de colores */
}
.filtroForm {
  text-align: center;
  padding-bottom: 15px;
}

.search-buttonFiltro {
  background-color: #555; /* Cambiado a gris oscuro */
  border-radius: 6px;
  color: white;
  width: 60px;
  height: 35px;
}
.search-buttonFiltro:hover {
  transform: scale(1.05);
}
.barra {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
  padding: 20px;
}
.filtroaFormDiv {
  border-radius: 20px;
  padding: 20px;
  background-color: #111; /* Cambiado a negro */
}

.myContainer > div.productuak {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 4em;
  margin: auto;
}
.prezioClass {
  color: red;
}
.balorazioClass {
  color: green;
}
.h1 {
  text-align: center;
}
.myContainer > div.productuak > table {
  width: 100%;
  height: 300px;
  box-shadow: 3px 3px red, -1em 0 0.4em olive;
}
.myContainer > div.productuak > div {
  transition: border-radius, 0.3s;
  transition: background, 0.3s;
  border-radius: 20px;
  background: #a0a0a0; /* Cambiado a blanco */
  box-shadow: 2px 2px 2px 2px rgba(2, 2, 2, 0.5);
}
.myContainer > div.productuak > div:hover {
  border-radius: 30px;
  background: #f0f0f0;
  transform: scale(1.05);
  box-shadow: 5px 5px 2px 5px rgba(5, 2, 2, 0.5);
}

img {
  width: 270px;
  height: 270px;
}

.addToSaskia {
  background-color: #2129fd; /* Cambiado a azul */
  border-color: #2129fd; /* Cambiado a azul */
  border-radius: 3px;
  color: #fff; /* Cambiado a blanco */
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  position: -webkit-sticky;
}
.addToSaskia:hover {
  background-color: #89a5fa; /* Cambiado a azul claro */
  border-color: #89a5fa; /* Cambiado a azul claro */
  
}
.yaGehitutasaskia{
  background-color: #1dfd42; /* Cambiado a verde */
  border-color: #1dfd42; /* Cambiado a verde */
  border-radius: 3px;
  color: #fff; /* Cambiado a blanco */
  width: 200px;
  height: 35px;
  margin-bottom: 10px;
  position: -webkit-sticky;
}

.addToFavourite {
  background-color: #5981f7; /* Cambiado a azul */
  border-color: #5981f7; /* Cambiado a azul */
  border-radius: 3px;
  color: #fff; /* Cambiado a blanco */
  width: 50px;
  height: 35px;
  margin-bottom: 10px;
  position: -webkit-sticky;
}
.addToFavourite:hover {
  background-color: #89a5fa; /* Cambiado a azul claro */
  border-color: #89a5fa; /* Cambiado a azul claro */
}
.yaGehituta{
    background-color: #ffe81b; /* Cambiado a amarillo */
    border-color: #ffe81b; /* Cambiado a amarillo */
    border-radius: 3px;
    color: #fff; /* Cambiado a blanco */
    width: 50px;
    height: 35px;
    margin-bottom: 10px;
    position: -webkit-sticky;
}
label{
  color: #fff;
}
h1{
  color: #fff;
}